.tim-typo {
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}

.tim-typo .tim-note {
  bottom: 5px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}

/* offline-doc */

.offline-doc .navbar.navbar-transparent {
  padding-top: 25px;
  border-bottom: none;
}

.offline-doc .navbar.navbar-transparent .navbar-minimize {
  display: none;
  }

.offline-doc .navbar.navbar-transparent .navbar-brand,
.offline-doc .navbar.navbar-transparent .collapse .navbar-nav .nav-link {
  color: #FFFFFF !important;
}

.offline-doc .footer {
  z-index: 3 !important;
}

.offline-doc .page-header .container {
  z-index: 3;
}

.offline-doc .page-header:after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

#map {
  z-index: 2;
  height: calc(100vh - 70px);
  margin-top: 70px;
}
 .top-add-btn {
    text-align: right;
}
.width-100{width:70px;}
.fileinput-new img, .fileinput-preview img {
    width: 200px;
}
.pull-center {
    text-align: center;
}
#services-wrapper .main-title {
  margin-left: 9%;
  margin-bottom: 120px;
}

.hide{
  display: none;
}
.imageitem{
  width: 97% !important; 
  margin-left: 15px !important; 
  margin-bottom: 20px;
  opacity: 1 !important;
}
.main-title{
  margin-bottom:120px;
}
.form-group input[type=file]{
  position: unset;
  opacity: 1;
}
.pull-right{
  float: right !important;
}
.bootstrap-tagsinput .tag,
.tag.badge{
    background-color: #9c27b0;
    color: #FFF;
    font-size: 14px;
    padding: 2px 10px;
}
.bootstrap-tagsinput input{
  display: block;
}

.tag.badge span:before{
    content: "\f00d";
    margin-left: 10px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

}
.view{
  padding: 5px !important;
}





table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em ;
}


table.dataTable thead .sorting:after, table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc_disabled:after, table.dataTable thead .sorting_desc_disabled:before {
    position: inherit !important;
    bottom: .5em !important;
    /*display: block !important;*/
    opacity: .3 !important;
    color:red;
    background-color: green;
}
table .fa-sort-up{
  position: absolute;
  margin-left: 4px;
  margin-top: 2px;
}
table .fa-sort-down{
  margin-left: 4px;
}
.found-desc-title{
  top: -30px !important;
}
.w625{
    width: 625px;
}

table .sorting {
  background-size: 20px 13px;
}
.book-wrapper {
  position: relative;
  width: 100%;
}

.book-wrapper img {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.book-wrapper img:first-of-type {
  position: relative;
}

.book-wrapper img.active {
  opacity: 1;
}
.table-responsive {
    overflow-x: hidden !important;
}
.file-del-btn{
  position: absolute;
  top: -15px;
  left: 117px;
  cursor: pointer;
}
